[user]
	name = Marcelo Felix
	email = olivera.felix@gmail.com
[core]
	excludesfile = /Users/marcelofelix/.gitignore_global
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	lg = log --pretty=format:\"%h %s\" --graph
	mt = mergetool
	rs = rebase --skip
	rc = rebase --continue
	ra = rebase --abort
[mergetool]
	keepBackup = false
